.resume {
    padding-bottom: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        display: block;
        text-align: center;
        margin-top: 20px;

    }
    .divider {
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns:repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &_title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                top: 50%;
                left: -7px;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content:'';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -19px;
                    left: 0;
                    background-color: black;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content:'';
            height: 1px;
            width: 45px;
            position: absolute;
            background-color:black;
            top: 65px;
        }
        .title {
            font-weight: bold;
        }
        &-location {
            font-size: 12px;
            font-weight: 500;
        }
        
        &-head {
            h4 {
                margin-bottom: 5px;
            }
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            @include before_circle;
            top: 48px;
            left: 45px;
            img {
                position: absolute;
                width: 25px;
                height: 25px;
                left: 17px;
                top: 16px;

            }
        }
    }
}